language: generic
sudo: required

matrix:
    include:
        - os: linux
          env: SH=bash SH_VERSION=3.2 TMUX_VERSION=1.9a
        - os: linux
          env: SH=bash SH_VERSION=4.1 TMUX_VERSION=1.6
        - os: linux
          env: SH=bash SH_VERSION=3.2 TMUX_VERSION=2.2
        - os: osx
          env: SH=bash SH_VERSION=default TMUX_VERSION=1.6
        - os: linux
          env: SH=bash SH_VERSION=4.2 TMUX_VERSION=2.1
        - os: linux
          env: SH=bash SH_VERSION=4.4 TMUX_VERSION=1.9a
        - os: linux
          env: SH=bash SH_VERSION=4.0 TMUX_VERSION=2.3
        - os: linux
          env: SH=bash SH_VERSION=default TMUX_VERSION=0.9
        - os: linux
          env: SH=bash SH_VERSION=default TMUX_VERSION=2.0
        - os: osx
          env: SH=bash SH_VERSION=default TMUX_VERSION=1.7
        - os: linux
          env: SH=bash SH_VERSION=4.3 TMUX_VERSION=1.6
        - os: linux
          env: SH=bash SH_VERSION=3.2 TMUX_VERSION=2.0
        - os: osx
          env: SH=bash SH_VERSION=default TMUX_VERSION=2.1
        - os: linux
          env: SH=bash SH_VERSION=3.2 TMUX_VERSION=1.9
        - os: osx
          env: SH=bash SH_VERSION=default TMUX_VERSION=2.3
        - os: linux
          env: SH=bash SH_VERSION=default TMUX_VERSION=1.1
        - os: linux
          env: SH=bash SH_VERSION=default TMUX_VERSION=1.3
        - os: linux
          env: SH=bash SH_VERSION=3.2 TMUX_VERSION=2.3
        - os: linux
          env: SH=bash SH_VERSION=4.3 TMUX_VERSION=2.3
        - os: linux
          env: SH=bash SH_VERSION=4.0 TMUX_VERSION=1.7
        - os: linux
          env: SH=bash SH_VERSION=4.3 TMUX_VERSION=1.9a
        - os: linux
          env: SH=bash SH_VERSION=4.3 TMUX_VERSION=1.8
        - os: linux
          env: SH=bash SH_VERSION=4.1 TMUX_VERSION=2.1
        - os: linux
          env: SH=bash SH_VERSION=4.2 TMUX_VERSION=2.3
        - os: linux
          env: SH=bash SH_VERSION=4.4 TMUX_VERSION=2.1
        - os: linux
          env: SH=bash SH_VERSION=3.2 TMUX_VERSION=2.1
        - os: linux
          env: SH=bash SH_VERSION=4.1 TMUX_VERSION=1.7
        - os: linux
          env: SH=bash SH_VERSION=4.1 TMUX_VERSION=2.3
        - os: linux
          env: SH=bash SH_VERSION=4.3 TMUX_VERSION=2.1
        - os: linux
          env: SH=bash SH_VERSION=4.4 TMUX_VERSION=1.7
        - os: linux
          env: SH=bash SH_VERSION=4.1 TMUX_VERSION=1.9
        - os: osx
          env: SH=bash SH_VERSION=default TMUX_VERSION=1.9
        - os: linux
          env: SH=bash SH_VERSION=4.3 TMUX_VERSION=1.7
        - os: linux
          env: SH=bash SH_VERSION=4.2 TMUX_VERSION=1.9
        - os: linux
          env: SH=bash SH_VERSION=default TMUX_VERSION=1.5
        - os: linux
          env: SH=bash SH_VERSION=4.2 TMUX_VERSION=1.8
        - os: linux
          env: SH=bash SH_VERSION=4.1 TMUX_VERSION=1.9a
        - os: linux
          env: SH=bash SH_VERSION=4.3 TMUX_VERSION=2.0
        - os: linux
          env: SH=bash SH_VERSION=4.0 TMUX_VERSION=2.0
        - os: linux
          env: SH=bash SH_VERSION=4.4 TMUX_VERSION=2.0
        - os: linux
          env: SH=bash SH_VERSION=default TMUX_VERSION=1.2
        - os: osx
          env: SH=bash SH_VERSION=default TMUX_VERSION=2.2
        - os: osx
          env: SH=bash SH_VERSION=default TMUX_VERSION=1.8
        - os: linux
          env: SH=bash SH_VERSION=3.2 TMUX_VERSION=1.6
        - os: linux
          env: SH=bash SH_VERSION=4.0 TMUX_VERSION=1.6
        - os: linux
          env: SH=bash SH_VERSION=4.4 TMUX_VERSION=1.9
        - os: linux
          env: SH=bash SH_VERSION=4.2 TMUX_VERSION=2.0
        - os: linux
          env: SH=bash SH_VERSION=4.4 TMUX_VERSION=1.6
        - os: linux
          env: SH=bash SH_VERSION=default TMUX_VERSION=1.4
        - os: linux
          env: SH=bash SH_VERSION=default TMUX_VERSION=1.0
        - os: linux
          env: SH=bash SH_VERSION=4.2 TMUX_VERSION=1.7
        - os: linux
          env: SH=bash SH_VERSION=4.2 TMUX_VERSION=1.9a
        - os: linux
          env: SH=bash SH_VERSION=default TMUX_VERSION=0.8
        - os: linux
          env: SH=bash SH_VERSION=4.1 TMUX_VERSION=2.2
        - os: linux
          env: SH=bash SH_VERSION=4.4 TMUX_VERSION=1.8
        - os: linux
          env: SH=bash SH_VERSION=4.0 TMUX_VERSION=1.8
        - os: linux
          env: SH=bash SH_VERSION=4.1 TMUX_VERSION=2.0
        - os: linux
          env: SH=bash SH_VERSION=3.2 TMUX_VERSION=1.8
        - os: linux
          env: SH=bash SH_VERSION=4.3 TMUX_VERSION=2.2
        - os: linux
          env: SH=bash SH_VERSION=4.0 TMUX_VERSION=2.1
        - os: linux
          env: SH=bash SH_VERSION=4.2 TMUX_VERSION=1.6
        - os: linux
          env: SH=bash SH_VERSION=4.0 TMUX_VERSION=2.2
        - os: linux
          env: SH=bash SH_VERSION=4.0 TMUX_VERSION=1.9
        - os: linux
          env: SH=bash SH_VERSION=3.2 TMUX_VERSION=1.7
        - os: linux
          env: SH=bash SH_VERSION=4.4 TMUX_VERSION=2.2
        - os: linux
          env: SH=bash SH_VERSION=4.3 TMUX_VERSION=1.9
        - os: linux
          env: SH=bash SH_VERSION=4.4 TMUX_VERSION=2.3
        - os: linux
          env: SH=bash SH_VERSION=4.0 TMUX_VERSION=1.9a
        - os: linux
          env: SH=bash SH_VERSION=4.1 TMUX_VERSION=1.8
        - os: linux
          env: SH=bash SH_VERSION=4.2 TMUX_VERSION=2.2
        - os: osx
          env: SH=bash SH_VERSION=default TMUX_VERSION=1.9a
        - os: osx
          env: SH=bash SH_VERSION=default TMUX_VERSION=2.0

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]] ;then sudo apt-get -qq update && sudo apt-get install -y ncurses-dev libevent-dev gcc make curl ;fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" && "$TMUX_VERSION" == "default" && ! $(which tmux) ]] ; then sudo apt-get install -y tmux ;fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" && "$SH_VERSION"   == "default" && ! $(which $SH)  ]] ;then sudo apt-get install -y $SH ;fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]] ;then brew update ;fi
  - if [[ "$TRAVIS_OS_NAME" == "osx"   && "$TMUX_VERSION" == "default" && ! $(which tmux) ]] ; then brew install tmux ;fi
  - if [[ "$TRAVIS_OS_NAME" == "osx"   && "$SH_VERSION"   == "default" && ! $(which $SH)  ]] ;then brew install $SH ;fi

before_script:
  - export TMPDIR=$TRAVIS_BUILD_DIR/tmp
  - mkdir -p $TMPDIR
  - if [[ "$TMUX_VERSION" != "default" ]] ;then ( cd "$TMPDIR" && curl -L "https://github.com/tmux/tmux/releases/download/${TMUX_VERSION}/tmux-${TMUX_VERSION}.tar.gz" | tar zxv && cd tmux-${TMUX_VERSION} && ./configure; make && sudo make install ) ;fi # tmux 0.8 does not require ./configure
  - if [[ "$SH" == "bash" && "$SH_VERSION" != "default" ]];then (cd "$TMPDIR" && curl "http://ftp.gnu.org/gnu/bash/bash-${SH_VERSION}.tar.gz" | tar xvz && cd bash* && ./configure; make && sudo make install && sudo cp ./bash /bin/bash ) ;fi
  - if [[ "$SH" == "zsh"  && "$SH_VERSION" != "default" ]];then (cd "$TMPDIR" && curl -L "https://sourceforge.net/projects/zsh/files/zsh/${SH_VERSION}/zsh-${SH_VERSION}.tar.gz/download" | tar zxv && cd zsh* && ./configure; make && sudo make install ) ;fi

script:
  - $SH ./test/test.sh
